* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: 'Lato',sans-serif;
}

.outer-box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left,rgb(0, 255, 247) ,rgb(0, 115, 115));
}
.inner-box {
    width: 400px;
    margin:  0 auto;
    position: relative;
    top: 20%;
    left: 5%;
    right: 10%; 
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #277;

    
}
.signup-header {
    font-size: 1.5rem;
    color: #212121;
}
.signup-header p {
    font-size: 1rem;
    color:rgb(249, 190, 190)
  
}
.signup-body {
    margin: 20px 0;
}
.signup-body p {
    margin: 10px 0;
}
.signup-body p label{
    display: block;
    margin: 10px 0;
    font-weight: bold;

}
.signup-body p input {
    width: 100%;
   
   
    margin-top: 4px;
    padding: 08px;
    border: 2px solid #cccc;
    font-size:1rem;

}

.signup-body p input[type="button"] {
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}
.signup-body p input[type="submit"].hover {
    cursor: pointer;
    color:lightpink;

}
.signup-footer {
    color:#555;
    text-align: center;
}
.signup-footer p a {
    color:#277 ;

}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right,#ffffff33,#ffffff);
    position: absolute;
}

.c1 {
    top: 100px;
    left: 40px;

}
.c2 {
    bottom: 100px;
    right: 50px;


}
a:hover {
    cursor: pointer;
    color: #08000c;
}